# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run2
run_serv

# Files from Forge MDK
forge*changelog.txt

#private
private.gradle
/texture_src/
